DATABASE_URL="postgresql://user:password@localhost:5432/csec?schema=public"
NEXTAUTH_SECRET="your-nextauth-secret"
NEXTAUTH_URL="http://localhost:3000"
ADMIN_EMAIL="admin@csecgwl.in"
# This is used for the initial seed
ADMIN_PASSWORD="password123"
